.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 48px;
  padding: 0 12px;

  border-bottom: 1px solid #eee;
}

.backBtn {
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}