DB_URL=jdbc:postgresql://db:5432/db
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=db

EMAILVERIFY_KEY=your_emailverify_key

CDEK_CLIENT_ID=your_client_id
CDEK_CLIENT_SECRET=your_client_secret

ADMIN_EMAIL=kkhuzzyatov@gmail.com
ADMIN_PASSWORD=secret