.page {
  height: 100vh;
  overflow: hidden;
}

.layout {
  display: flex;
  flex-direction: row;

  height: 100vh;
  width: 100%;

  align-items: stretch;
}

/* LEFT */
.left {
  flex: 0 0 55%;

  height: 100vh;
  min-height: 0;

  display: flex;
  align-items: stretch;   /* КЛЮЧ */
  justify-content: stretch; /* КЛЮЧ */

  overflow: hidden;
}

/* RIGHT */
.right {
  flex: 1;

  height: 100vh;
  min-height: 0;

  display: flex;
  flex-direction: column;

  z-index: 100;;
}

/* SCROLL AREA */
.scrollArea {
  flex: 1;
  min-height: 0;

  overflow-y: auto;

  padding: 24px;
  padding-bottom: 120px;
}

/* SELECTORS */
.selectorsContainer {
  margin-top: 20px;
}

/* FIXED CART BUTTON */
.cartButton {
  position: fixed;
  right: 5%;
  bottom: 110px;

  width: 37.5%;
  height: 52px;

  border: none;
  border-radius: 10px;

  background: #000;
  color: #fff;

  font-weight: 600;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.inCart {
  background: #4CAF50;
}

.cartCounter {
  display: flex;
  gap: 8px;
}

.cartCounter button {
  width: 26px;
  height: 26px;
  border: none;
  background: #eee;
  cursor: pointer;
}